<h2>Welcome to Pizza Shop!</h2>

<div class="row">

  <% @products.each do |p|%>
  <div class="col-md-auto item-box">
    <div class="title">
      <%= p.title %>
    </div>

    <div> 
      <img src="<%= p.path_to_image %>" alt=""> 
    </div>

    <div> 
      <%= p.price %> RUB
    </div>

     <div> 
      <%= p.description %>
    </div>

  </div>
  <% end %>

</div>

<button class="btn btn-primary" onClick="something()">Click Me!</button>